<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidmads.navdraweractivity">

    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3klein2"
        android:label="KANTEN"
        android:roundIcon="@drawable/logo3klein2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--tools:replace="android:appComponentFactory"-->

        <activity
            android:name=".Module.WorkoutModuleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".Module.WorkoutModuleCreateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Other.TimerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Workout.WorkoutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Other.StartActivity"
            android:label="KANTEN"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name= ".Other.MyNotificationPublisher" />
    </application>

</manifest>